<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PUNKBeers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>327026471F12B05B00DD4E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3270265B1F12B05B00DD4E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>327026661F12B05B00DD4E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
